<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/KenAtIBM/Projects/kenatibm.github.io/_posts/images/2017-10-03/screen_cast.mp4</key>
	<data>
	Ym9va2wDAAAAAAQQMAAAAG0vKU2IrtjJII5KdVh4e8TWotw1WbimH8fCoMR78yEEaAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAEtlbkF0SUJNCAAAAAEB
	AABQcm9qZWN0cxIAAAABAQAAa2VuYXRpYm0uZ2l0aHViLmlvAAAGAAAAAQEAAF9wb3N0
	cwAABgAAAAEBAABpbWFnZXMAAAoAAAABAQAAMjAxNy0xMC0wMwAADwAAAAEBAABzY3Jl
	ZW5fY2FzdC5tcDQAIAAAAAEGAAAQAAAAIAAAADAAAABAAAAAXAAAAGwAAAB8AAAAkAAA
	AAgAAAAEAwAAJWcCAAAAAAAIAAAABAMAAP00CQAAAAAACAAAAAQDAADdvCQLAAAAAAgA
	AAAEAwAAH88OEwAAAAAIAAAABAMAAAkLJhMAAAAACAAAAAQDAABmEiYTAAAAAAgAAAAE
	AwAAYDYwEwAAAAAIAAAABAMAAB7EMBMAAAAAIAAAAAEGAADQAAAA4AAAAPAAAAAAAQAA
	EAEAACABAAAwAQAAQAEAAAgAAAAABAAAQb+ET+AAAAAYAAAAAQIAAAEAAAAAAAAADwAA
	AAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
	bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAgjF0AAAACAAAAAAEAABB
	uR5AOwAAACQAAAABAQAANjgyQTk2MEYtNEIyRi0zOEQ2LUI0M0MtQkIxNkJGM0UxRTFG
	GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AMwAAAD+////AQAAAAAAAAAQAAAABBAAAKgAAAAAAAAABRAAAFABAAAAAAAAEBAAAIgB
	AAAAAAAAQBAAAHgBAAAAAAAAAiAAAFQCAAAAAAAABSAAAMQBAAAAAAAAECAAANQBAAAA
	AAAAESAAAAgCAAAAAAAAEiAAAOgBAAAAAAAAEyAAAPgBAAAAAAAAICAAADQCAAAAAAAA
	MCAAAGACAAAAAAAAAcAAAKgBAAAAAAAAEcAAACAAAAAAAAAAEsAAALgBAAAAAAAAENAA
	AAQAAAAAAAAA
	</data>
</dict>
</plist>
